{% extends "MainApp/base.html" %}
{% load static %}
{% block content %}

        <div class="container">
            <div class="row">
                <table class="table table-striped table-bordered table-hover table-condensed col-md-10">
                <tr>
                    <th>Enroll No.</th>
                    <th>Name</th>
                    <th>Apr</th>
                    <th>May</th>
                    <th>Jun</th>
                    <th>Jul</th>
                    <th>Aug</th>
                    <th>Sep</th>
                    <th>Oct</th>
                    <th>Nov</th>
                    <th>Dec</th>
                    <th>Jan</th>
                    <th>Feb</th>
                    <th>Mar</th>
                </tr>
                {% for student,stud_att in ziplist %}
                    <tr>
                        <td>{{student.enrollno}}</td>
                        <td>{{student.firstname}} {{student.lastname}}</td>
                        <td>{{stud_att.april}}</td>
                        <td>{{stud_att.may}}</td>
                        <td>{{stud_att.june}}</td>
                        <td>{{stud_att.july}}</td>
                        <td>{{stud_att.august}}</td>
                        <td>{{stud_att.september}}</td>
                        <td>{{stud_att.october}}</td>
                        <td>{{stud_att.november}}</td>
                        <td>{{stud_att.december}}</td>
                        <td>{{stud_att.january}}</td>
                        <td>{{stud_att.february}}</td>
                        <td>{{stud_att.march}}</td>
                    </tr>
                {% endfor %}
                </table>

                <form class="col-md-2 teach-form" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                    <label>Enroll No.</label>
                    <input type="text" name="enrollno" id="enrollno" class="form-control">
                    </div>
        
                    <div class="form-group">
                    <label>Month</label>
                    <select class="form-control" id="month" name="month">
                        <option value="january">January</option>
                        <option value="february">Feburary</option>
                        <option value="march">March</option>
                        <option value="april">April</option>
                        <option value="may">May</option>
                        <option value="june">June</option>
                        <option value="july">July</option>
                        <option value="august">August</option>
                        <option value="september">September</option>
                        <option value="october">October</option>
                        <option value="november">November</option>
                        <option value="december">December</option>
                    </select>
                    </div>

                    <div class="form-group">
                        <label>Attendance</label>
                        <input type="number" id="attendance" name="attendance" class="form-control">
                    </div>
            
                    <button type="submit" class="btn btn-default btn-primary mb-5">Submit</button>
                </form>
            </div>
          </div>
        
{% endblock %}
  