{% extends "MainApp/base.html" %}
{% load static %}
{% block content %}

        <div class="container">
            <table class="table table-striped table-bordered table-hover table-condensed">
              <tr>
                <th>Months</th>
                <th>Attendance</th>
              </tr>
              <tr>
                <td>April</td>
                <td>{{att.april}}</td>
              </tr>
              <tr>
                <td>May</td>
                <td>{{att.may}}</td>
              </tr>
              <tr>
                <td>June</td>
                <td>{{att.june}}</td>
              </tr>
              <tr>
                <td>July</td>
                <td>{{att.july}}</td>
              </tr>
              <tr>
                <td>August</td>
                <td>{{att.august}}</td>
              </tr>
              <tr>
                <td>September</td>
                <td>{{att.september}}</td>
              </tr>
              <tr>
                <td>October</td>
                <td>{{att.october}}</td>
              </tr>
              <tr>
                <td>November</td>
                <td>{{att.november}}</td>
              </tr>
              <tr>
                <td>December</td>
                <td>{{att.december}}</td>
              </tr>
              <tr>
                <td>January</td>
                <td>{{att.january}}</td>
              </tr>
              <tr>
                <td>Feburary</td>
                <td>{{att.february}}</td>
              </tr>
            </table>
          </div>
        
{% endblock %}