{% extends "MainApp/base.html" %}
{% load static %}
{% block content %}

        <div class="container">
            <table class="table table-striped table-bordered table-hover table-condensed">
              <tr>
                <th>Months</th>
                <th>Attendance</th>
              </tr>
              <tr>
                <td>April</td>
                <td>...</td>
              </tr>
              <tr>
                <td>May</td>
                <td>...</td>
              </tr>
              <tr>
                <td>June</td>
                <td>-</td>
              </tr>
              <tr>
                <td>July</td>
                <td>...</td>
              </tr>
              <tr>
                <td>August</td>
                <td>...</td>
              </tr>
              <tr>
                <td>September</td>
                <td>...</td>
              </tr>
              <tr>
                <td>October</td>
                <td>...</td>
              </tr>
              <tr>
                <td>November</td>
                <td>-</td>
              </tr>
              <tr>
                <td>December</td>
                <td>...</td>
              </tr>
              <tr>
                <td>January</td>
                <td>...</td>
              </tr>
              <tr>
                <td>Feburary</td>
                <td>...</td>
              </tr>
            </table>
          </div>
        
{% endblock %}