{% load static %}
{% load auth_extras %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- SEO Meta Tags -->
        <meta name="description" content="My Academia">
        <meta name="keywords" content="school website, responsive">
        <meta name="author" content="Yashwini Bansal">
    
        <!-- Website Title -->
        <title>My Academia</title>
        
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700,700i&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{% static 'MainApp/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'MainApp/css/fontawesome-all.css' %}" rel="stylesheet">
        <link href="{% static 'MainApp/css/swiper.css' %}" rel="stylesheet">
        <link href="{% static 'MainApp/css/styles.css' %}" rel="stylesheet">
    
        <link rel="icon" href="{% static 'MainApp/images/logo2.jpg' %}">
    
        <!-- Scripts -->
        <script src="{% static 'MainApp/js/jquery.min.js' %}" defer></script>
        <script src="{% static 'MainApp/js/popper.min.js' %}" defer></script>
        <script src="{% static 'MainApp/js/bootstrap.min.js' %}" defer></script>
        <script src="{% static 'MainApp/js/jquery.easing.min.js' %}" defer></script>
        <script src="{% static 'MainApp/js/swiper.min.js' %}" defer></script>
        <script src="{% static 'MainApp/js/validator.min.js' %}" defer></script>
        <script src="{% static 'MainApp/js/scripts.js' %}" defer></script>
    </head>
    <body data-spy="scroll" data-target=".fixed-top">
        
        <!-- Preloader -->
        <div class="spinner-wrapper">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
        <!-- end of preloader -->
        

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">

            <!-- Logo -->
            <a class="navbar-brand logo-image" href="{% url 'MyAcad-home' %}"><img src="{% static 'MainApp/images/logo.jpg' %}"></a>
            <a class="navbar-brand logo" href="{% url 'MyAcad-home' %}" style="text-decoration: none;"><h3>MY ACADEMIA</h3></a>
            
            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
                <span class="navbar-toggler-awesome fas fa-times"></span>
            </button>
            <!-- end of mobile menu toggle button -->

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        {% if request.user|has_group:"Student" %}
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="{% url 'stud-home' %}">MY PROFILE</a>
                        </li>
                        {% elif request.user|has_group:"Teacher" %}
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="{% url 'teacher-home' %}">MY PROFILE</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="{% url 'logout' %}">LOGOUT</a>
                        </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{% url 'MyAcad-home' %}">HOME<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#about">ABOUT US</a>
                    </li>

                    <!-- Dropdown Menu -->          
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle page-scroll" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">ADMISSIONS</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'prospectus' %}"><span class="item-text">PROSPECTUS</span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><span class="item-text">POLICY</span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'application' %}"><span class="item-text">APPLICATION FORM</span></a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle page-scroll" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">ACADEMICS</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#"><span class="item-text">RULES AND REGULATIONS</span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><span class="item-text">CBSE RESULT ANALYSIS</span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><span class="item-text">CURRICULUM</span></a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle page-scroll" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">ACTIVITIES</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#"><span class="item-text">SPORTS</span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><span class="item-text">CLUBS</span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><span class="item-text">INTER-SCHOOL COMPETITIONS</span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><span class="item-text">CULTURAL</span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><span class="item-text">SOCIAL ACTIVITIES</span></a>
                        </div>
                    </li>
                    <!-- end of dropdown menu -->
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#contact">CONTACT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{% url 'login_view' %}">LOGIN</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}"> {{message}}</div>
        {% endfor %}
        {% endif %}
        <div class="block-content">
            {% block content %}
            {% endblock %}
        </div>
        
               
        

        <!-- Footer -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="footer-col first">
                            <h5>SCHOOL MOTTO</h5>
                            <p class="p-small">Sed felis eget velit aliquet sagittis id. Hac habitasse platea dictumst quisque sagittis purus sit. Nisi lacus sed viverra tellus in hac habitasse. Faucibus vitae aliquet nec ullamcorper sit. Varius duis at consectetur lorem donec massa sapien.</p>
                        </div>
                    </div> <!-- end of col -->
                    <div class="col-md-4">
                        <div class="footer-col fourth">
                            <h5>Social Media</h5>
                            <p class="p-small">For news & updates follow us</p>
                            <a href="#your-link">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#your-link">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#your-link">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                            <a href="#your-link">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#your-link">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a href="#your-link">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div> 
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of footer -->  
        <!-- end of footer -->


        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="p-small">Copyright © 2021 - All rights reserved</p>
                    </div> <!-- end of col -->
                </div> <!-- enf of row -->
            </div> <!-- end of container -->
        </div> <!-- end of copyright --> 
        <!-- end of copyright -->
    </body>
</html>