{% extends "MainApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

        <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="white">Terms & Conditions</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Breadcrumbs -->
    <div class="ex-basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs">
                        <a href="index.html">Home</a><i class="fa fa-angle-double-right"></i><span>Terms & Conditions</span>
                    </div> <!-- end of breadcrumbs -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of breadcrumbs -->

    <!-- Terms Content -->
    <div class="ex-basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container dark">
                        <h3>TERMS AND CONDITIONS</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quae, voluptatibus possimus doloremque minima est. Dignissimos sunt, et dolorem, perspiciatis id nihil obcaecati, impedit deserunt porro accusamus nisi ea ab. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quaerat architecto cupiditate, nihil doloribus beatae non. Sapiente expedita repellat hic nobis veritatis tempore illum distinctio, exercitationem excepturi eligendi odio iure!</p>
                        <ul class="list-unstyled li-space-lg indent">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quae, voluptatibus possimus doloremque minima est.</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quae, voluptatibus possimus doloremque minima est.</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quae, voluptatibus possimus doloremque minima est.</div>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                    
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic -->
    <!-- end of terms content -->
        
{% endblock %}